$color: #39FF28;

body{
  background:black;
  font-family: 'Varela', sans-serif;
  -webkit-font-smoothing: none;
  text-shadow: 0px 0px 20px $color;
}

.glitch{
  color:$color;
  font-size:100px;
  position:relative;
  width:400px;
  margin:200px auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0  15px $color;
  top:0;
  color:$color;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 15px $color; 
  top:0;
  color:$color;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 1s infinite linear alternate-reverse;
}
.scan {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 10%,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url(../scan.png);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}